/******** GENERAL *********/

body {
  width: 1060px;
  margin: auto;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-family: "Mandali", sans-serif;
  text-align: center;
  font-size: 80px;
  margin: 0;
}

h2 {
  color: #6e8e9b;
}

h2::after {
  background-color: #6e8e9b;
  content: "";
  display: block;
  width: 2px;
  height: 50px;
  border: 1px solid #6e8e9b;
  margin: 30px 0px;
}

p {
  margin: 0;
}

.btn {
  padding: 10px 25px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
  color: black !important;
  background-color: white;
  border-radius: 50px;
}

.btn:hover,
#contact form input[type="radio"]:checked + label {
  background-color: #6e8e9b;
  color: white !important;
}

/******** HEADER **********/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0.24)),
    url(img/yogamat.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  padding-bottom: 100px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

header .titre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/********* CONCEPT *********/

#concept article {
  display: flex;
  align-items: center;
  margin: 80px 0px;
}

#concept article:first-of-type {
  margin-top: 0px;
}

@media (min-width: 991px) {
  #concept article:nth-of-type(odd) {
    flex-direction: row-reverse;
  }
}
#concept article img {
  padding: 20px;
  margin: 0px 25px;
  background-color: white;
  border-radius: 100px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.384);
}

#concept article div {
  display: flex;
  flex-direction: column;
}

/********* COURS *********/

#cours article {
  display: flex;
  align-items: center;
}

#cours article img {
  width: 400px;
  object-fit: contain;
}

#cours article div {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

/********* CONTACT *********/

#contact form ul li:first-of-type {
  display: flex;
  align-items: center;
}

#contact form ul li {
  margin-bottom: 30px;
}

#contact form input {
  border: none;
}

#contact form input,
#contact form select {
  font-family: "Raleway", sans-serif;
}

#contact form input[type="text"],
#contact form input[type="email"] {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2) inset;
  width: 100%;
  max-width: 400px;
  border-radius: 50px;
  padding: 10px 15px;
}

#contact form input[type="radio"] {
  display: none;
}

#contact form input[type="radio"] + label {
  margin-left: 30px;
}

/*********** FOOTER **********/

footer {
  text-align: center;
  color: white;
  height: 70px;
  background: #6e8e9b;
  padding-top: 20px;
  margin-top: 50px;
}

/**************** TABLETTE **************/

@media (min-width: 768px) and (max-width: 990px) {
  body {
    width: 990px;
    max-width: 100%;
  }

  #cours article {
    align-items: flex-start;
  }

  #concept,
  #cours,
  #contact {
    padding: 20px;
  }

  h1 {
    font-size: 40px;
    margin: 0;
  }

  header div .btn,
  header div p {
    margin-top: 20px;
  }

  footer {
    margin-top: 25px;
  }
}

/*************** MOBILE *************/

@media (max-width: 767px) {
  body {
    width: 767px;
    max-width: 100%;
  }

  #concept,
  #cours,
  #contact {
    padding: 20px;
  }

  h1 {
    font-size: 40px;
  }

  header div .btn,
  header div p {
    margin-top: 20px;
  }

  #concept article,
  #cours article {
    flex-direction: column;
    text-align: center;
  }

  #concept article:nth-of-type(odd) {
    flex-direction: column;
    text-align: center;
  }

  #cours article div {
    margin: 0;
  }

  #contact form ul li:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #contact form ul li label {
    margin: 20px 0px;
  }
  #contact form input[type="radio"] + label {
    margin-left: 0;
  }
}
