h1 {
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.459)),
    url("../img/detox\ cure\ smoothie.jpg");
  background-position: center;
  background-size: cover;
}

header nav img {
  height: 50px;
}

header h1 {
  text-align: center;
  padding: 150px 0;
  text-transform: none;
  font-size: 4rem;
  letter-spacing: 5px;
}

#fabrication {
  background: linear-gradient(#feb4c3, #f59e28);
}

footer {
  background: #f59e28;
}
